<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "dev" class="com.shabeer.Dev" autowire="constructor">
        <property name="role" value="Software dev"/>
        <!--<constructor-arg name="com" ref="laptop"/>-->
    </bean>

    <bean id="laptop" class="com.shabeer.Laptop" primary="false"/>
    <bean id="desktop" class="com.shabeer.Desktop" primary="true"/>

</beans>